@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

html,
body {
	/* max-width: 100vw; */
	padding: 0;
    margin: 0;
}

html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.cropper-view-box {
	display: block;
	height: 100%;
	outline: 1px solid #00000000 !important;
	outline-color: rgba(0, 0, 0, 0) !important;
	overflow: hidden;
	width: 100%;
}

.cropper-modal {
	background-color: #d9d9d9 !important;
	opacity: 0.5 !important;
}

div[data-test="EditorContainer"] {
	/* image editor direction */
	flex-direction: row-reverse !important;
}

@media (prefers-color-scheme: dark) {
	/* html {
    color-scheme: dark;
  } */
}

/* Image Editor */
#adjust-content {
	transition: all 3s;
}

@media only screen and (min-width: 600px) {
	/* notistack */
	.notistack-Snackbar {
		min-width: 100px !important;
	}
	.notistack-MuiContent {
		box-shadow: none !important;
	}
}

@media only screen and (max-width: 599.95px) {
	.notistack-Snackbar {
		min-width: 100px !important;
	}

	.notistack-SnackbarContainer {
		/* width: auto !important; */
		align-items: center !important;
	}
	.notistack-MuiContent {
		flex-grow: initial !important;
		box-shadow: none !important;
	}
}

.advanced-cropper__background-wrapper {
	background: black !important;
}

/* Style the dropdown container */
.PhoneInputCountrySelect {
	background-color: #ffffff; /* White background */
}

/* Style scrollbar */
.PhoneInputCountrySelect::-webkit-scrollbar {
	width: 0px; /* Makes the scrollbar thinner */
}

.PhoneInputCountrySelect::-webkit-scrollbar-thumb {
	width: 0px; /* Makes the scrollbar thumb thinner */
}

.PhoneInputCountrySelect {
	scrollbar-width: none; /* For Firefox */
}
